{% extends 'barlateral_mod_plantilla.html' %}
{% load static %}

{% block title %}
    <title> Clientes </title>
{% endblock %}

{% block contenido %}
    {% block search %}
        <form action="{% url 'clientes:detalle_cliente' %}" method="GET">
            <div class="input-group mb-3">
                <input type="text" name="query" value="{{ query }}" class="form-control"
                       placeholder="Buscar cliente por nombre/apellido o cédula" id="idInputSearch"
                       aria-describedby="basic-addon2"/>
                <button type="submit" class="btn btn-primary mr-1" id="idSearchSp">Buscar</button>
            </div>
        </form>
    {% endblock %}

    <table class="container table table-responsive">
        <thead>
        <tr>
            <th> Nombre</th>
            <th> Apellido</th>
            <th> Genero</th>
            <th> Cedula</th>
            <th> Fecha de Ingreso</th>
            <th> Acciones</th>
        </tr>
        </thead>
        <tbody>

        {% for objects in clientes %}
            <tr>
                <td> {{ objects.nombre }} </td>
                <td> {{ objects.apellido }} </td>
                <td> {{ objects.genero }} </td>
                <td> {{ objects.cedula }} </td>
                <td> {{ objects.fecha_de_ingreso }} </td>
                <td>
                    <div class="btn-accion">
                        <div class="cab-tool">
                            <a class="text-decoration-none" href="{% url 'clientes:editar_cliente' objects.id %}">
                                <i class="ri-edit-2-line text-dark"></i>
                                <span class="tooltip-infor-icon"> Editar registro </span>
                            </a>
                        </div>

                        <div class="cab-tool">
                            <a class="text-decoration-none" href="{% url 'clientes:eliminar_cliente' objects.id %}">
                                <i class="ri-eraser-line text-dark"></i>
                                <span class="tooltip-infor-icon"> Eliminar registro </span>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <div class="mt-0">
        <a href="{% url 'clientes:crear_cliente' %}" class="btn btn-success btn-lg mt-md-5 me-md-auto ms-md-3">
            Añadir Cliente
        </a>
    </div>

{% endblock %}

